<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link rel="stylesheet" href="">
</head>

<body>
   <main></main>

   <template>
       <article class="pig">
           <header>
               <h2>PIG NAME</h2>
           </header>
           <p>colour: <span>pink</span></p>
           <p>race: guineapig</p>
           <p>age: 12</p>
       </article>
   </template>
    <script src="pig.js"></script>
</body>
</html>
